
<br/>
<div class="container">

  <!-- 模板语法 插值表达式 -->
  <div class="row">
    <div class="col-md-10">
        <app-template-lang></app-template-lang>
    </div>
  </div>


  <!-- 模板语法 局部变量 -->
  <div class="row">
      <div class="col-md-10">
        <app-template-ref></app-template-ref>
      </div>
  </div>
  

  <!-- 属性值绑定 -->
  <div class="row">
      <div class="col-md-10">
        <app-value-bind></app-value-bind>
      </div>
  </div>

  <!-- 事件绑定 -->
  <div class="row">
      <div class="col-md-10">
        <app-event-bind></app-event-bind>
      </div>
  </div>

  <!-- 双向绑定 -->
  <div class="row">
      <div class="col-md-10">
        <app-each-bind></app-each-bind>
      </div>
  </div>

  <!-- ngＩｆ的使用 -->
  <div class="row">
      <div class="col-md-10">
        <app-ng-if></app-ng-if>
      </div>
  </div>

  <!-- ngFor的使用 -->
  <div class="row">
      <div class="col-md-10">
        <app-use-ng-for></app-use-ng-for>
      </div>
  </div>

  <!--ngSwitch-->
  <div class="row">
    <div class="col-md-10">
      <app-use-ng-switch></app-use-ng-switch>
    </div>
  </div>

  <!-- ngClass -->
  <div class="row">
    <div class="col-md-10">
      <app-use-ng-class></app-use-ng-class>
    </div>
  </div>

    <!-- 日期管道 -->
    <div class="row">
        <div class="col-md-10">
          <app-use-pipe></app-use-pipe>
        </div>
      </div>

</div>