<div class="row">

  <div class="box box-info">
    <div class="box-header with-border">
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-horizontal" (submit)="save()">
      <div class="box-body">
        <div class="form-group">
          <label for="id" class="col-sm-2 control-label">编号</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="id" [(ngModel)]="id" placeholder="编号">
            {{vo | json}}
          </div>
        </div>
      </div>
  </div>
  </div>

  <div >

  </div>

</div>
