<div class="row">

  <div class="col-lg-12">
    <div class="box box-primary">
      <div class="box-header with-border" >
        <h3 class="box-title">第一张图表</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body" >
        <div class="chart" >
          <div echarts class="demo-chart" [options]="option" (chartInit)="onChartInit($event)"></div>
        </div>
      </div>
    </div>
  </div>


  <div>{{data | json}}</div>

</div>
