<div class="wrapper" style="height: auto; min-height: 100%;">

  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-sider-bar></app-sider-bar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 901px;">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <br/>
      <br/>
    </section>
    <!-- Main content -->
    <section class="content">

      <div class="row">
          <router-outlet></router-outlet>
      </div>

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>

</div>
